


h1 {
	color:red;
	text-align:

} 
h2{ color: black;
	text-align:center; 
	font-size: 20px;
	 }
img { width:100px;
	text-align: center;
	; 

}
.un{
	
	text-align: center;}

.deux {text-align: left;
	   padding-top: 100px; 
 }
 .trois {background-color: orange;
 	text-align: center;
 	padding-top: 20px;
 	padding-bottom:20px;
 	margin-left: 50px;
 	height: 300px;
 	width: 500px;
 image-rendering: {  width: 200px;
text-align: center; }


